/*------ 25. My account Page  ------*/

.myaccount-wrapper {
  .accordion {
    &-item {
      margin-bottom: 20px;
      border: 1px solid #ebebeb;
    }
    &-button {
      background-color: #f8f9fa;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
      color: #242424;
      display: block;
      padding: 20px 55px;
      position: relative;
      span {
        color: #242424;
        font-size: 15px;
        left: 20px;
        position: absolute;
       
      }
      &[aria-expanded="true"]{
        border-bottom: 1px solid white;
      }
      &:focus {
        box-shadow: none;
      }
      @media #{$xs-layout} {
        line-height: 22px;
        font-size: 14px;
        padding: 16px 30px 16px 40px;
      }
  
      &:hover {
        color: $theme-color;
      }
      &::before {
        color: #000;
        content: "\f107";
        display: inline-block;
        font-family: "FontAwesome";
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 19px;
      }
      &:hover::before {
        color: $theme-color;
      }
    }
    &-body {
      border-bottom: 1px solid white;
    }
  }
}

.single-my-account {
  .myaccount-info-wrapper {
    padding: 30px 20px;
    background-color: #fff;
    .account-info-wrapper {
      border-bottom: 1px solid #eaeaea;
      margin-bottom: 28px;
      padding-bottom: 30px;
      h4 {
        font-size: 15px;
        margin: 0;
        text-transform: uppercase;
      }
      h5 {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top: 7px;
      }
    }
    .billing-info {
      margin-bottom: 20px;
      label {
        color: #000;
        font-size: 14px;
        text-transform: capitalize;
      }
      input {
        background: transparent none repeat scroll 0 0;
        border: 1px solid #ebebeb;
        color: #000;
        height: 40px;
        padding: 0 15px;
      }
    }
    .billing-back-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 26px;
      align-items: center;
      .billing-back {
        a {
          color: #000;
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            color: $theme-color;
          }
          i {
            font-size: 16px;
            color: $theme-color;
          }
        }
      }
      .billing-btn {
        button {
          background-color: #f2f2f2;
          border: medium none;
          color: #000;
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          padding: 16px 35px 17px;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          &:hover {
            background: $theme-color;
            color: #fff;
          }
        }
      }
    }
    .entries-wrapper {
      border: 1px solid #eaeaea;
      position: relative;
      @media #{$xs-layout} {
        padding: 30px 10px;
        &::before {
          display: none;
        }
      }
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        left: 50%;
        top: 0;
        background-color: #eaeaea;
      }
      .entries-info {
        padding: 30px 20px;
        @media #{$xs-layout} {
          padding: 0 10px 30px;
        }
        p {
          color: #000;
          font-size: 15px;
          margin: 0;
          text-transform: capitalize;
        }
      }
      .entries-edit-delete {
        a,
        button {
          background: none;
          border: none;
          background-color: #000;
          color: #fff;
          display: inline-block;
          line-height: 1;
          margin: 0 2px;
          padding: 12px 15px;
          text-transform: uppercase;
          font-weight: 500;
          &:hover {
            background-color: $theme-color;
          }
          &.edit {
            background-color: #df5c39;
            &:hover {
              background-color: $theme-color;
            }
          }
        }
      }
    }
  }
}


/*------ 25. My account Page  ------*/

.myaccount-wrapper {
  .accordion {
    &-item {
      margin-bottom: 20px;
      border: 1px solid #ebebeb;
      border-left: none;
      border-right: none;
    }
    &-button {
      background-color: #f9f9f9;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
      color: #242424;
      display: block;
      padding: 20px 55px;
      // padding: 20px 30px;
      position: relative;
      span {
        color: #242424;
        font-size: 15px;
        left: 20px;
        position: absolute;
       
      }
      &[aria-expanded="true"]{
        border-bottom: 1px solid #ebebeb;
      }
      &:focus {
        box-shadow: none;
      }
      @media #{$xs-layout} {
        line-height: 22px;
        font-size: 14px;
        padding: 16px 30px 16px 40px;
      }
  
      &:hover {
        color: $theme-color;
      }
      &::before {
        color: #000;
        content: "\f107";
        display: inline-block;
        font-family: "FontAwesome";
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 19px;
      }
      &:hover::before {
        color: $theme-color;
      }
    }
    &-body {
      border-bottom: 1px solid #ebebeb;
      background-color: #f8f9fa;
    }
  }
}
.accordionborder{
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}
.single-my-account {
  .myaccount-info-wrapper {
    padding: 30px 20px;
    background-color: #fff;
    .account-info-wrapper {
      border-bottom: 1px solid #eaeaea;
      margin-bottom: 28px;
      padding-bottom: 30px;
      h4 {
        font-size: 15px;
        margin: 0;
        text-transform: uppercase;
      }
      h5 {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top: 7px;
      }
    }
    .billing-info {
      margin-bottom: 20px;
      label {
        color: #000;
        font-size: 14px;
        text-transform: capitalize;
      }
      input {
        background: transparent none repeat scroll 0 0;
        border: 1px solid #ebebeb;
        color: #000;
        height: 40px;
        padding: 0 15px;
      }
    }
    .billing-back-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: 26px;
      align-items: center;
      .billing-back {
        a {
          color: #000;
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          &:hover {
            color: $theme-color;
          }
          i {
            font-size: 16px;
            color: $theme-color;
          }
        }
      }
      .billing-btn {
        button {
          background-color: #f2f2f2;
          border: medium none;
          color: #000;
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          line-height: 1;
          padding: 16px 35px 17px;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.3s ease 0s;
          &:hover {
            background: $theme-color;
            color: #fff;
          }
        }
      }
    }
    .entries-wrapper {
      border: 1px solid #eaeaea;
      position: relative;
      @media #{$xs-layout} {
        padding: 30px 10px;
        &::before {
          display: none;
        }
      }
      &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 1px;
        left: 50%;
        top: 0;
        background-color: #eaeaea;
      }
      .entries-info {
        padding: 30px 20px;
        @media #{$xs-layout} {
          padding: 0 10px 30px;
        }
        p {
          color: #000;
          font-size: 15px;
          margin: 0;
          text-transform: capitalize;
        }
      }
      .entries-edit-delete {
        a,
        button {
          background: none;
          border: none;
          background-color: #000;
          color: #fff;
          display: inline-block;
          line-height: 1;
          margin: 0 2px;
          padding: 12px 15px;
          text-transform: uppercase;
          font-weight: 500;
          &:hover {
            background-color: $theme-color;
          }
          &.edit {
            background-color: #df5c39;
            &:hover {
              background-color: $theme-color;
            }
          }
        }
      }
    }
  }
}





.hero {
	// background-color: #000000;
	background-image: url(../../../public/assets/img/slider/product12.png);
  background-position: center;
	background-size: cover;
	color: #ffffff;
	padding: 10em;
  padding-left:0px;
	// text-align: center;
}

.heronew {
	// background-color: #000000;
	background-image: url(../../../public/assets/img/slider/fitnessslider.jpg);
  background-position: center;
	background-size: cover;
	color: #ffffff;
	padding: 7em;
  // padding-left:0px;
	// text-align: center;
  @media #{$xs-layout} {
    padding: 0px;
  }
}
.heronew2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin-left: 200px;
  @media #{$xs-layout} {
    margin-left: 30px;
  }
}
.heronew3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  margin-top: 300px;
  margin-left: 200px;
  @media #{$xs-layout} {
    margin-left: 30px;
  }
}
.heronew4 {
color: white;

  @media #{$xs-layout} {
    margin-top: 30px;   
    font-size: 25px;
    letter-spacing: 0.84px;
    font-weight: 500;
  }
}
.heronew5 {

  max-width: 642px;
  color: white;
  
    @media #{$xs-layout} {
     color: white;
     margin-bottom: 30px;
     font-size: 20px;
    }
  }


  .heromind {
    // background-color: #000000;
    background-image: url(../../../public/assets/img/slider/sportslider.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 7em;
    // padding-left:0px;
    // text-align: center;
    @media #{$xs-layout} {
      padding: 0px;
    }
  }
  .heroskin {
    // background-color: #000000;
    background-image: url(../../../public/assets/img/slider/yogaslider.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 7em;
    // padding-left:0px;
    // text-align: center;
    @media #{$xs-layout} {
      padding: 0px;
    }
  }

.hero .box .text .sub-title{
  max-width: 610px!important;
}


.hero1 {
	// background-color: #000000;
	background-image: url(../../../public/assets/img/slider/shopbanner.png);
  background-position: center;
	background-size: cover;
	color: #ffffff;
	padding: 10em;
  padding-left:0px;
	// text-align: center;
}

.hero1 .box .text .sub-title{
  max-width: 610px!important;
}


.box .text.sub-title h2{
  font-size: 64px;
    line-height: 1.06;
    margin-bottom: 8px;
}
.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

.wowo.animated {
  animation-duration: .7s;
  visibility: visible;
  animation-fill-mode: both;
}

.fadeInUp.animated {
  animation-name: fadeInUp;
}


.wowo {
  opacity: 1;
}

.box{
  font-size: 18px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 25px;
    // max-width: 526px;
}


.margin-30 {
  margin-top: 30px!important;
  margin-bottom: 30px!important;
}


.hero-banner .block .box .text .links{
  animation-delay: .4s;
}


.box .text .links{
  display: flex;
    opacity: 0;
    transform: translateY(50px);
}


.blockquote-block {
  background: #fafafa;
}

// .blockquote-block .container {
//   max-width: 1215px;
// }

.blockquote-block .blockquote-block__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0 72px;
}

.blockquote-block .blockquote-block__body .blockquote-block__left {
  width: 337px;
  max-width: 32%;
}

.blockquote-block .blockquote-block__body .blockquote-block__left h3 {
  
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.mobile {
  display: none;
}

.blockquote-block .blockquote-block__body blockquote {
  
  font-size: 40px;
  line-height: 1.15;
  color: #000;
  text-align: center;
}

.blockquote-block .blockquote-block__body .blockquote-block__left .media__img {
  max-width: 136px;
  margin-bottom: 27px;
}

.link-text{
  font-weight:600;
  font-size:40px;
  color:gray;
  line-height: 1.3em;
}



/*------ 25. blog Page  ------*/

.myaccount-wrapper1 {
  .accordion {
    &-item {
      margin-bottom: 20px;
      border: 1px solid #ebebeb;
    }
    &-button {
      background-color: white;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
      color: #242424;
      display: block;
      padding: 5px 40px;
      // padding: 20px 30px;
      position: relative;
      box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #ffffff;
      span {
        color: #242424;
        font-size: 15px;
        left: 20px;
        position: absolute;
       
      }
      &[aria-expanded="true"]{
        border-bottom: 1px solid white;
      }
      &:focus {
        box-shadow: none;
      }
      @media #{$xs-layout} {
        line-height: 22px;
        font-size: 14px;
        padding: 16px 30px 16px 40px;
      }
  
      &:hover {
        color: $theme-color;
      }
      &::before {
        color: #000;
        content: "\f107";
        display: inline-block;
        font-family: "FontAwesome";
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 5px;
      }
      &:hover::before {
        color: $theme-color;
      }
    }
    &-body {
      border-bottom: 1px solid #ebebeb;
    }
  }
}

.myaccount-wrapperNew {
  .accordion {
    &-item {
      margin-bottom: 20px;
      border: 1px solid #f6f6f6;
    }
    &-button {
      background-color: #f6f6f6;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
      color: #242424;
      display: block;
      padding: 5px 40px;
      // padding: 20px 30px;
      position: relative;
      box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #f6f6f6;
      span {
        color: #242424;
        font-size: 15px;
        left: 20px;
        position: absolute;
       
      }
      &[aria-expanded="true"]{
        border-bottom: 1px solid #f6f6f6;
      }
      &:focus {
        box-shadow: none;
      }
      @media #{$xs-layout} {
        line-height: 22px;
        font-size: 14px;
        padding: 16px 30px 16px 40px;
      }
  
      &:hover {
        color: $theme-color;
      }
      &::before {
        color: #000;
        content: "\f107";
        display: inline-block;
        font-family: "FontAwesome";
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 5px;
        @media #{$xs-layout} {
          top: 17px;
        }
      }
      &:hover::before {
        color: $theme-color;
      }
    }
    &-body {
      border-bottom: 1px solid #ebebeb;
      background-color: #f6f6f6;
    }
  }
}


@media (max-width:414px){
  .inner{
    padding-right: 0px !important;
  }
  .box .text.sub-title h2, .box .text.sub-title .h2 {
    font-size: 34px;
    line-height: 1.06;
    margin-bottom: 8px;
}

.blockquote-block .blockquote-block__body .blockquote-block__left{
  max-width: 100% !important;
}

.blockquote-block .blockquote-block__body blockquote {
  font-size: 20px;
  line-height: 1.15;
  color: #000;
  text-align: left;
  padding-left: 10px;
}
}


.myaccount-wrapper2 {
  .accordion {
    &-item {
      margin-bottom: 20px;
      border: 1px solid #ebebeb;
      border-left: none;
      border-right: none;
    }
    &-button {
      background-color: white;
      font-size: 15px;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
      color: #242424;
      display: block;
      padding: 20px 55px;
      // padding: 20px 30px;
      position: relative;
      span {
        color: #242424;
        font-size: 15px;
        left: 20px;
        position: absolute;
       
      }
      &[aria-expanded="true"]{
        border-bottom: none;
      }
      &:focus {
        box-shadow: none;
      }
      @media #{$xs-layout} {
        line-height: 22px;
        font-size: 14px;
        padding: 16px 30px 16px 40px;
      }
  
      &:hover {
        color: $theme-color;
      }
      &::before {
        color: #000;
        content: "\f107";
        display: inline-block;
        font-family: "FontAwesome";
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 19px;
      }
      &:hover::before {
        color: $theme-color;
      }
    }
    &-body {
      border-bottom: 1px solid #ebebeb;
      background-color: white;
    }
  }
}